.logo-container {
    display: inline-flex; 
    flex-direction: row;  
    align-items: center; 
    gap: 15px;          
}


#logo {
    height: 100px;
    width: auto;
    object-fit: cover;
    position: absolute;
    margin-top: 10px;
    left: 20px;
}


html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: #9cd2ff;
    color: rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid #000000;
}

.boutton-principal {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #9cd2ff;
    color: #000000;
    padding: 18px 36px;
    font-size: 30px;
    border: 2px solid #000000;
    border-radius: 14px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #7ab8e0;
    border-color: #000000;
}

.boutton-connection {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

}

.boite {
    font-size: 24px;
    border: 4px solid #000000;
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;  
    justify-content: start; 
    align-items: center;   
    padding-top: 50px; 
    background-color: #e4e4e46e;
    border-radius: 20px;

}

.code-unique {

    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #9cd2ff;
    color: #000000;
    padding: 12px 24px;
    font-size: 26px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 14px;
    font-family: monospace;

}

.conteneur {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    flex-grow: 1;        
    background-color: #ffffff;
}

.bouton_ouvrir_boite {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

#code-input {
    width: 50%;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-family: monospace;
    resize: none;
}


.feuille {
    padding: 20px;
    width: 60%;
    min-height: 80vh;
    margin: 20px auto;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    line-height: 0.5;
}

.boite-connection {
    font-size: 24px;
    border: 4px solid #000000;
    width: 30%;
    

    min-height: 200px; 
    height: auto;
    
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;   
    
  
    padding: 10px 20px; 
    
    background-color: #e4e4e46e;
    border-radius: 20px;
    

    box-sizing: border-box; 
}

#connection-form {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;   
    width: 100%; 
    gap: 15px;
}

#connection {

    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 14px;
    margin-bottom: 20px;
    outline: none;
}Matelas Sleep Mode 	M

#connection-button {
    margin-top: 30px;

}


.liste {
    padding: 20px;
    width: 40%;
    min-height: 80vh;
    margin: 20px auto;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    line-height: 0.5;
}

.conteneur-bouton {
    display: flex;
    justify-content: flex-end; 
    padding-right: 50px;  
    margin-top: -100px;             
    z-index: 10;             
}